{{- if not (eq (.Lastmod.Local.Format "200601") (.Date.Local.Format "200601")) }}
  <span class="prefix">created: </span>
{{- end }}
  <time datetime="{{ dateFormat "2006-01-02 15:04:05" .Date.Local }}">{{ dateFormat "2006/01/02" .Date.Local }}</time>
{{- if not (eq (.Lastmod.Local.Format "200601") (.Date.Local.Format "200601")) }}
  <span class="prefix">, modified: </span>
  <time datetime="{{ dateFormat "2006-01-02 15:04:05" .Lastmod.Local }}">{{ dateFormat "2006/01/02" .Lastmod.Local }}</time>
{{- end }}
