<footer class="globalfooter">

<h2>Tags</h2>

<ul class="tags">
{{- range $name, $taxonomy := .Site.Taxonomies.tags }}
  <li>
    <a href="{{ "/tags/" | relURL }}{{ $name | urlize }}"><i class="fa fa-tag"></i>{{ $name }} ({{ $taxonomy.Count }})</a>
  </li>
{{- end }}
</ul>

<h2>Categories</h2>

<ul>
  <li>
    <a href="/categories/tech/">Category / Tech</a>
  </li>
  <li>
    <a href="/categories/twentyfour/">Category / TwentyFour</a>
  </li>
</ul>

<h2>RSS</h2>

<ul>
  <li>
    <a href="/categories/tech/index.xml" target="_blank">RSS: Category / Tech</a>
  </li>
  <li>
    <a href="/index.xml" target="_blank">RSS: All articles</a>
  </li>
</ul>

<hr>

<ul>
  <li>このブログは個人の見解であり、所属する組織の公式見解ではありません</li>
  <li>自分がひっかかった技術的なことをメモってインターネット上に解き放ち、忘れた頃に自分含む誰かがググったときの助けになれば、というポリシーでブログを書いています</li>
  <li>このサイトでは cookie および Google Analytics を利用しています、詳しくは<a href="https://www.google.com/intl/ja/policies/privacy/partners/" target="_blank">こちら</a></li>
</ul>
<p class="copyright">&copy; ばうあーろぐ</p>

</footer>

</div>

<!-- google analytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-36767095-1']);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>

  </body>
</html>
