<div class="poststatus">
  <p class="time">{{ partial "datetime.html" . }}</p>

  {{- $oneYearAgo := (time now).AddDate -1 0 0 }}
  {{- if $oneYearAgo.After (time .Date) }}
  <p class="expired"><strong>この記事は書かれてから1年以上が経過しており、最新の情報とは異なる可能性があります</strong></p>
  {{- end }}

  <ul class="tags">
    {{- with .CurrentSection }}
    <li class="section"><a href="{{ .RelPermalink }}"><i class="icon-book"></i>{{ .Title }}</a></li>
    {{- end }}
    {{- range .Params.tags }}
    <li><a href="/tags/{{ . | urlize }}/"><i class="icon-tag"></i>{{ . }}</a></li>
    {{- end }}
  </ul>
</div>
