<footer class="globalfooter">
  {{- if or (eq .FirstSection.Title "Tech") (eq .Kind "404") }}
  <h2>Tags</h2>
  <ul class="tags">
    {{- range .Site.Taxonomies.tags }}
    <li><a href="{{ .Page.Permalink }}"><i class="fa fa-tag"></i>{{ .Page.Title }} ({{ .Count }})</a></li>
    {{- end }}
  </ul>
  {{- end }}

  <h2>Categories (Sections)</h2>
  <ul class="tags">
    {{- range slice "tech" "misc" "biz" }}
    {{ with $.Site.GetPage "section" . }}
    <li><a href="{{ .RelPermalink }}"><i class="fa fa-book"></i>{{ .Title }} ({{ len .Pages }})</a></li>
    {{- end }}
    {{- end }}
  </ul>

  <div class="curry-block">
    <h3>カレーブログはじめました！</h3>
    <a href="https://curry.girigiribauer.com" target="_blank">
      <figure>
        <img src="/img/banner-curry.jpg" alt="お昼に何食べるか考えるのつらい ご当地カレーが食べたい！" width="300">
        <figcaption>お昼に何食べるか考えるのつらい ご当地カレーが食べたい！</figcaption>
      </figure>
    </a>
    <p>最近、 <strong>身の回りの変化が激しすぎて、なんだか疲れちゃった・・・</strong>って人に届けたい！<br>
      妄想・フィクションたっぷりの<strong>ご当地カレーブログ</strong>です！<br>
      これでも読んで脳の回転数をぐっと下げて、<strong>「あっこんな適当でもいいんだ・・・」</strong>って思ってくれたら嬉しいです！</p>
  </div>

  <h2>RSS</h2>
  <ul class="tags">
    {{- range slice "tech" "misc" "biz" }}
    {{- with $.Site.GetPage "section" . }}
    {{- $sectionTitle := .Title }}
    {{- with .OutputFormats.Get "rss" -}}
    <li><a href="{{ .Permalink }}"><i class="fa fa-rss"></i>{{ $sectionTitle }}</a></li>
    {{- end }}
    {{- end }}
    {{- end }}
    <li><a href="/index.xml"><i class="fa fa-rss"></i>All Articles</a></li>
  </ul>

  <hr>

  <ul>
    <li>このブログは個人の見解であり、所属する組織、団体等の公式見解ではありません</li>
    <li>自分がひっかかった技術的なことをメモってインターネット上に解き放ち、忘れた頃に自分含む誰かがググったときの助けになれば、というポリシーでブログを書いています</li>
    <li>このサイトでは cookie および Google Analytics を利用しています、詳しくは<a href="https://www.google.com/intl/ja/policies/privacy/partners/" target="_blank">こちら</a></li>
  </ul>
  <p class="copyright">&copy; {{ .Site.Title }}</p>
</footer>
{{ template "_internal/google_analytics_async.html" . }}
