<footer class="globalfooter">
{{- if eq .FirstSection.Title "Tech" }}
  <h2>Tags</h2>
  <ul class="tags">
{{- range .Site.Taxonomies.tags }}
    <li><a href="{{ .Page.Permalink }}"><i class="fa fa-tag"></i>{{ .Page.Title }} ({{ .Count }})</a></li>
{{- end }}
  </ul>
{{- end }}

  <h2>Categories (Sections)</h2>
  <ul class="tags">
{{- range slice "tech" "misc" "biz" }}
{{ with $.Site.GetPage "section" . }}
    <li><a href="{{ .RelPermalink }}"><i class="fa fa-book"></i>{{ .Title }} ({{ len .Pages }})</a></li>
{{- end }}
{{- end }}
  </ul>

  <h2>RSS</h2>
  <ul class="tags">
    <li><a href="/tech/index.xml"><i class="fa fa-rss"></i>Tech Articles</a></li>
    <li><a href="/index.xml"><i class="fa fa-rss"></i>All Articles</a></li>
  </ul>

  <hr>

  <ul>
    <li>このブログは個人の見解であり、所属する組織、団体等の公式見解ではありません</li>
    <li>自分がひっかかった技術的なことをメモってインターネット上に解き放ち、忘れた頃に自分含む誰かがググったときの助けになれば、というポリシーでブログを書いています</li>
    <li>このサイトでは cookie および Google Analytics を利用しています、詳しくは<a href="https://www.google.com/intl/ja/policies/privacy/partners/" target="_blank">こちら</a></li>
  </ul>
  <p class="copyright">&copy; {{ .Site.Title }}</p>
</footer>
{{ template "_internal/google_analytics_async.html" . }}