/**
 * blogfooter styles
 */
.blogfooter {
  width: 100%;
  padding: 50px 0;
  background: #444;
  color: #fff;
  @media #{$small} {
    padding: 30px 0;
  }
  a {
    color: #fff;
  }
  p {
    font-size: $font-size-14px;
    line-height: 1.6;
  }
  .inner {
    width: $width-maincontents;
    margin: 0 auto;
    @include legacy-pie-clearfix;
    @media #{$middle}, #{$small} {
      width: auto;
      padding: 0 30px;
    }
    @media #{$small} {
      padding: 0 10px;
    }
  }
  .links {
    margin: 10px 0 0 0;
    li {
      font-size: $font-size-14px;
      line-height: 1.6;
    }
    .icon {
      width: 26px;
      display: inline-block;
    }
    &--tags {
      width: 100%;
      @include display-flex;
      @include flex-flow(row wrap);
      @include justify-content(flex-start);
      @include align-content(flex-start);
      @include align-items(flex-start);
      li {
        @include flex(0 0 auto);
        margin: 0 20px 4px 0;
      }
    }
    &--others {
      li + li {
        margin: 0 10px 0 0;
      }
    }
  }
  .links + .linkstitle {
    margin-top: 20px;
  }
  .attention {
    margin-top: 16px;
  }
  .copyright {
    margin-top: 16px;
    vertical-align: bottom;
    line-height: 1.4;
    .copyright-mark {
      font-size: $font-size-21px;
      line-height: 1.0;
      vertical-align: bottom;
    }
  }
}
