body {
  margin: 0;
}

.markdown-body .flow {
  display: inline-block;
}
.markdown-body .socialbuttons {
  margin-top: 24px;
  padding-top: 16px;
  padding-left: 0;
  border-top: 1px solid #eee;
  overflow: hidden;
}
.markdown-body .socialbuttons li {
  display: inline-block;
  vertical-align: top;
  line-height: 1.0;
}
.markdown-body .socialbuttons li + li {
  margin-top: 0;
}
.markdown-body .tags {
  padding-left: 0;
}
.markdown-body .tags li + li:before {
  content: ',';
  display: inline-block;
  margin: 0 5px 0 -3px;
}
.markdown-body .poststatus {
  margin-bottom: 16px;
  border-bottom: 1px solid #eee;
}
.markdown-body header {
  padding: 10px 20px;
}
.markdown-body .maincontents {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}
.markdown-body footer {
  padding: 0 20px;
}
.markdown-body footer .tags li + li:before {
  content: '';
  margin: 0;
}
.markdown-body .notfound {
  min-height: 200px;
}
