/**
 * basic styles
 */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 100%;
  line-height: 1.5;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background: #d9d9d0;
  color: #333;
}

/**
 * layouts
 */
.container {
  margin: 0 auto;
  padding: 1rem;
}
.globalheader {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
}
.globalheader > a {
  display: inline-block;
  padding: 1rem;
  background: #d9d9d0;
}
.maincontents {
  max-width: 74vw;
  min-width: calc(320px - 4rem);
  min-height: 200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
}
.article {
  margin-bottom: 5rem;
}
.article-list {
  padding: 0;
  list-style: none;
}
.article-list > li {
  margin: 0 0 2rem 0;
}
.globalfooter {
  max-width: 74vw;
  min-width: calc(320px - 4rem);
  margin: 0 auto;
  margin-top: 2rem;
  padding: 2rem;
  background: #fff;
}
.globalfooter > h2:first-child {
  margin-top: 0;
}

/**
 * headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 2rem;
}
h2 {
  margin: 5rem 0 2.5rem 0;
  padding-bottom: 0.3rem;
  border-bottom: 2px solid #eee;
  font-size: 1.5rem;
}
h3 {
  margin: 3rem 0 1.5rem 0;
  font-size: 1.25rem;
}
h4 {
  margin: 2.5rem 0 1.25rem 0;
  font-size: 1.125rem;
}
h5 {
  margin: 2rem 0 1.5rem 0;
  font-size: 1rem;
}
h6 {
  margin: 2rem 0 1.5rem 0;
  color: #777;
  font-size: 0.875rem;
}
.sitetitle {
  width: 100%;
  margin: 4rem 1rem 5rem 0;
  letter-spacing: 1px;
}
.sitetitle > .description {
  display: inline-block;
  font-size: 50%;
}
.heading {
  margin: 0 0 2rem 0;
  padding: 0;
  color: #555;
  line-height: 1.3;
}
.heading-listitem {
  margin: 0 0 0.5rem 0;
  padding: 0;
  border-bottom: 0;
  font-size: 1.25rem;
}
.heading i,
.heading-listitem i {
  margin-right: 0.25rem;
}
.heading-listitem .separator {
  margin: 0 0.5rem;
  font-weight: normal;
}

/**
 * list
 */
ul,
ol {
  margin: 2.5rem 0;
  padding-left: 2.5rem;
}
ol ol,
ul ol {
  list-style-type: lower-roman;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.75rem;
}
li {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
dl {
  margin: 2.5rem 0;
  padding: 0;
}
dt {
  margin: 0.25rem 0;
  padding: 0;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}
dd {
  margin-left: 0;
  padding: 0;
  margin-bottom: 1.5rem;
}

/**
 * hr
 */
hr {
  height: 2px;
  box-sizing: content-box;
  margin: 2.5rem 0;
  padding: 0;
  overflow: hidden;
  border: 0;
  border-top: 2px solid #e7e7e7;
  border-bottom: 2px solid #e7e7e7;
}

/**
 * images
 */
img {
  max-width: 100%;
  box-sizing: content-box;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #fff;
  border: 1px solid #eee;
  vertical-align: bottom;
}
svg:not(:root) {
  overflow: hidden;
}

/**
 * interpreter
 */
code {
  max-width: auto;
  display: inline;
  overflow: visible;
  margin: 0;
  padding: 2px 4px;
  background-color: #ffefef;
  border: 0;
  border-radius: 4px;
  color: #e43232;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1rem;
}
code::before,
code::after {
  letter-spacing: -0.2em;
  content: normal;
}
pre > code {
  background: transparent;
  color: inherit;
  font-size: 0.75rem;
  word-break: normal;
  white-space: pre;
  word-wrap: normal;
  tab-size: 2;
}
pre {
  margin: 2rem 0;
  padding: 0.5rem;
  overflow: auto;
  background-color: #f7f7f7;
  border-radius: 3px;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  word-wrap: normal;
}
kbd {
  display: inline-block;
  padding: 3px 5px;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
  color: #555;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  vertical-align: middle;
}

/**
 * blockquote
 */
blockquote {
  margin: 2rem 0;
  padding: 0.5rem 1rem;
  background-color: #f9f9f9;
  border-left: 0.25em solid #c9c9c9;
  color: #777;
}
blockquote :first-child {
  margin-top: 0;
}
blockquote :last-child {
  margin-bottom: 0;
}
blockquote p {
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
}

/**
 * link
 */
a {
  background-color: transparent;
  color: #4078c0;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}
a:hover,
a:active {
  outline-width: 0;
  text-decoration: underline;
}
a:not([href]) {
  color: inherit;
  text-decoration: none;
}

/**
 * paragraph
 */
p {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  line-height: 2.1;
}

/**
 * strong
 */
strong {
  font-weight: bold;
}

/**
 * form elements
 */
input {
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-font-feature-settings: "liga" 0;
  font-feature-settings: "liga" 0;
}
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * table
 */
table {
  width: 100%;
  display: block;
  overflow: auto;
  margin: 2rem 0;
  border-spacing: 0;
  border-collapse: collapse;
}
tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
tr:nth-child(2n) {
  background-color: #f8f8f8;
}
td,
th {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
}
th {
  font-weight: bold;
}

/**
 * video
*/
video {
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

/**
 * figure
*/
figure {
  max-width: 300px;
  margin: 0 0 2rem 0;
  padding: 0.5rem;
  display: inline-block;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}
figure img {
  margin: 0 0 0.5rem 0;
}
figcaption {
  font-size: 0.875rem;
  line-height: 1.6;
}

/**
 * tags
*/
.tags {
  padding-left: 0;
}
.tags > li {
  display: inline-block;
  margin: 0 0.5rem 0.125rem 0;
}
.tags > li.section + li:before {
  content: '|';
  margin: 0 0.75rem 0.125rem 0;
  color: #eee;
  font-weight: bold;
}
.tags i {
  margin-right: 0.25rem;
}

/**
 * socialbuttons
 */
.socialbuttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0 0 1rem 0;
  padding: 0;
  list-style: none;
}
.socialbuttons li {
  display: block;
  margin: 0;
}
.bluesky-share-button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  background: #1185FE;
  color: #FFF;
  font-size: 0.75rem;
  padding: 0.125rem 0.375rem;
  border-radius: 0.25rem;
}
.bluesky-share-button img {
  margin: 0;
  background: transparent;
  border: 0;
}

/**
 * poststatus
 */
.poststatus {
  margin: 0 0 2rem 0;
  padding: 1rem 0;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}
.poststatus .time {
  display: flex;
  margin: 0;
  color: #777;
  font-family: monospace;
  font-size: 1.25rem;
}
.poststatus .separator {
  margin: 0 0.5rem;
}
.poststatus .expired {
  margin: 0.5rem 0 0 0;
  padding: 0.375rem 0.5rem;
  background: #fff9f9;
  border: 1px solid #d00;
  color: #d00;
  font-size: 0.75rem;
}
.poststatus .tags {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

/**
 * footertags
 */
.footertags {
  padding: 0;
}
.footertags li {
  display: inline;
  padding: 0.25rem;
}

/**
 * copyright
 */
 .copyright {
   margin: 0;
   padding-top: 1rem;
   font-size: 0.75rem;
   text-align: right;
 }

 /**
  * pagination (Hugo preset)
  */
.pagination {
  padding: 0;
  list-style: none;
}
.pagination .page-item {
  display: inline-block;
  margin: 0 0.5rem 0 0;
  font-size: 1.25rem;
}
.pagination .page-item.disabled {
  display: none;
}
.pagination .page-link {
  min-width: 2.5rem;
  display: inline-block;
  padding: 0.25rem;
  background-color: #4078c0;
  border-radius: 0.25rem;
  color: #fff;
  text-align: center;
}
.pagination .page-link:hover {
  background-color: #91bbf1;
  color: #4078c0;
  text-decoration: none;
}
.pagination .page-item.active .page-link {
  background-color: #91bbf1;
  color: #4078c0;
  cursor: default;
  text-decoration: none;
}

/**
 * override misc section
 */
body.theme-misc a {
  color: #979a00;
}
body.theme-misc blockquote {
  background-color: #feffd4;
  border-color: #979a00;
  color: #979a00;
}
body.theme-misc .pagination .page-link {
  background-color: #979a00;
  color: #feffd4;
}
body.theme-misc .pagination .page-link:hover,
body.theme-misc .pagination .page-item.active .page-link {
  background-color: #dcdf3f;
  color: #979a00;
}

/**
 * override biz section
 */
body.theme-biz a {
  color: #0d9449;
}
body.theme-biz blockquote {
  background: #e9f9f0;
  border-color: #0d9449;
  color: #0d9449;
}
body.theme-biz .pagination .page-link {
  background-color: #0d9449;
  color: #feffd4;
}
body.theme-biz .pagination .page-link:hover,
body.theme-biz .pagination .page-item.active .page-link {
  background-color: #6fd79e;
  color: #0d9449;
}

/**
 * override journey section
 */
body.theme-journey a {
  color: #0d8094;
}
body.theme-journey blockquote {
  background: #edfcff;
  border-color: #0d8094;
  color: #0d8094;
}
body.theme-journey .pagination .page-link {
  background-color: #0d8094;
  color: #edfcff;
}
body.theme-journey .pagination .page-link:hover,
body.theme-journey .pagination .page-item.active .page-link {
  background-color: #8ecfdb;
  color: #0d8094;
}

/**
 * icons
 */
@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?bir6iv');
  src:  url('/fonts/icomoon.eot?bir6iv#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?bir6iv') format('truetype'),
    url('/fonts/icomoon.woff?bir6iv') format('woff'),
    url('/fonts/icomoon.svg?bir6iv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e91f";
}
.icon-tag:before {
  content: "\e935";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-rss:before {
  content: "\ea9b";
}
