/* Force font from theme import */
body {
  font-family: 'Roboto', sans-serif;
}

/**
 * socialbuttons
 */
.socialbuttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0 0 1rem 0;
  padding: 0;
  list-style: none;
}

.socialbuttons li {
  display: block;
  margin: 0;
}

.bluesky-share-button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  background: #1185FE;
  color: #FFF;
  font-size: 0.75rem;
  padding: 0.125rem 0.375rem;
  border-radius: 0.25rem;
  text-decoration: none;
}

.bluesky-share-button:hover {
  color: #FFF;
  text-decoration: none;
}

.bluesky-share-button img {
  margin: 0;
  background: transparent;
  border: 0;
  box-shadow: none !important;
  /* Override theme's shadow */
}

/**
 * poststatus
 */
.poststatus {
  margin: 0 0 2rem 0;
  padding: 1rem 0;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.poststatus .time {
  display: flex;
  margin: 0;
  color: #777;
  font-family: monospace;
  font-size: 1.25rem;
}

.poststatus .separator {
  margin: 0 0.5rem;
}

.poststatus .expired {
  margin: 0.5rem 0 0 0;
  padding: 0.375rem 0.5rem;
  background: #fff9f9;
  border: 1px solid #d00;
  color: #d00;
  font-size: 0.75rem;
}

.poststatus .tags {
  margin-top: 0.5rem;
  margin-bottom: 0;
  padding-left: 0;
}

.tags>li {
  display: inline-block;
  margin: 0 0.5rem 0.125rem 0;
}

.tags i {
  margin-right: 0.25rem;
}
