{{ define "main" }}
<article class="article-container">

    <header class="article-header">
        <h1 class="page-title">{{ .Title }}</h1>
        <div class="article-meta article-meta-flex">
            <time datetime="{{ .Date }}">{{ .Date.Format "2006/01/02" }}</time>
            {{- if not (eq (.Lastmod.Local.Format "20060102") (.Date.Local.Format "20060102")) }}
            <span>(Updated: {{ .Lastmod.Format "2006/01/02" }})</span>
            {{- end }}
        </div>
    </header>

    {{- $oneYearAgo := (time now).AddDate -1 0 0 }}
    {{- if $oneYearAgo.After (time .Date) }}
    <div class="alert-box">
        <strong>この記事は書かれてから1年以上が経過しており、最新の情報とは異なる可能性があります</strong>
    </div>
    {{- end }}

    <div class="content">
        {{ .Content }}
    </div>

    <!-- Tags (Bottom) -->
    {{ with .Params.tags }}
    <div class="tags-container">
        <span class="tag-label">Tags:</span>
        {{ range . }}
        <a href="/tags/{{ . | urlize }}/" class="tag-link">#{{ . }}</a>
        {{ end }}
    </div>
    {{ end }}


    <hr class="full-width-hr">

    <!-- Social Share Buttons -->
    <div class="social-share">
        <!-- Bluesky -->
        {{- $shareText := (printf "https://bsky.app/intent/compose?text=%s - %s %s" .Title .Site.Title .Permalink) }}
        <a href="{{ $shareText }}" target="_blank" rel="noopener noreferrer" class="social-btn bluesky">
            Bluesky
        </a>

        <!-- X / Twitter -->
        <a href="https://twitter.com/share?url={{ .Permalink }}&text={{ .Title }}" target="_blank"
            rel="noopener noreferrer" class="social-btn twitter">
            X (Twitter)
        </a>

        <!-- Hatena -->
        <a href="http://b.hatena.ne.jp/entry/{{ .Permalink }}" target="_blank" rel="noopener noreferrer"
            class="social-btn hatena">
            Hatena
        </a>
    </div>

</article>
{{ end }}
