{{ define "main" }}
<section style="margin-bottom: 4rem;">
    <h1 class="page-title">{{ .Title }}</h1>

    <div style="display: flex; flex-wrap: wrap; gap: 1rem; margin-top: 2rem; line-height: 1.8;">
        {{ range .Data.Terms.ByCount }}
        <a href="{{ .Page.Permalink }}" style="color: var(--color-cyan-12); font-weight: 500; text-decoration: none;">
            #{{ .Page.Title }}
            <span style="color: var(--color-slate-11); font-weight: 400; font-size: 0.9em;">({{ .Count }})</span>
        </a>
        {{ end }}
    </div>
</section>
{{ end }}
