{{ define "main" }}
<h1 class="heading">{{ .Title }}</h1>
{{ partial "poststatus.html" . }}
<div class="article">
  {{ .Content }}
</div>
<ul class="socialbuttons">
  <li>
    {{- $shareText := (printf "https://bsky.app/intent/compose?text=%s - ばうあーろぐ %s" .Title .Page.Permalink) }}
    <a href="{{ $shareText }}" class="bluesky-share-button"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAcCAYAAAAAwr0iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAGkSURBVHgBvZeBVcIwEIb/+hygI9QNcIO6gRv4mAA3aJ0AmQCZgOcEZQPcoHWC4gTnHT2eEUKai+D33rWlyd39Cek1BREVbFsakPNc7uHCcMycrWJrnVyFNDR0inR6xoXgWDO23pOnAYWR2ciRiI56GYjfjwkQtikiNPl2LLh07C8tIjY56Qy0FMfaIGAdGbNFpNID84jklSFeY1F74CmQfGYLRc0N+33Bxit56oTeq2GjEwEdbMhi9K2HRtssfIqAHexMeMT14QdfV3wqYGeXsfMj/CMadWa71+sWaTzc8uEDach0L2H/C126/ZH874NrI2sGmQooMSyi/+Quy7L9UwC+2PBpirQFaUVyTCX5SQsNe4M3ii/PFuSd460hXlTM+g9ievWVpBNYoPMbiFRait3g0LAJuRbVWPKSrk/p5rw50lDCxkbNQomAAOtjuGJ7h43ubAsNW6nYxdfS8KRYfKRf4eb8NQNcHGQGXhDHSoqJ+iwifRbeAnQMq6wjRp87/XMarxc1LAREnEyj9p8ERKR95NBPae7VGgqUUqc/Of2DVfAbQ2HzAOmkFq8AAAAASUVORK5CYII=" alt="" width="16" height="14" /><span>Bluesky でシェア</span></a>
  </li>
  <li>
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-count="vertical">Tweet</a>
    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
  </li>
  <li>
    <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="en" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
    <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
  </li>
</ul>
{{ partial "poststatus.html" . }}
<small>もし記事内に誤りなどございましたら、 <del><a href="https://twitter.com/girigiribauer" target="_blank">@girigiribauer</a></del> <a href="https://bsky.app/profile/girigiribauer.com" target="_blank">@girigiribauer.com</a> までご一報いただけると助かります。</small>

{{ $related := .Site.RegularPages.Related . | first 3 }}
{{ with $related }}
<h2>Related articles</h2>
<ul class="article-list">
  {{ range . }}
  {{ partial "listitem.html" . }}
  {{ end }}
</ul>
{{ end }}

{{- end }}
