{{ define "main" }}
<h1 class="heading">お探しのページは見つかりませんでした</h1>
<div class="article">
  <img src="/img/404.png" alt="404 not found" width="320" height="320">
  <p>残念ながら、お探しのページは見つかりませんでした。
  <br>こちらの導線の不手際かもしれませんし、あなたが間違っているかもしれません。
  <br>もしよろしければ、以下をお試しください。</p>
  <ul>
    <li>最近の記事であれば、 <strong><a href="/">トップページ</a></strong>から探してみる</li>
    <li>ページ下の<strong>タグ一覧</strong>から、見たかった記事を探してみる</li>
    <li>ページ下の<strong>カテゴリ（セクション）一覧</strong>から、見たかった記事を探してみる</li>
  </ul>
  <p>また、カテゴリ（セクション）ごとの RSS も用意してあるので、技術系のみ読みたい、などの用途に応じてご利用ください。</p>
</div>
{{ end }}
