{{ partial "header.html" . }}

<div class="maincontents">

<h1>{{ .Site.Title }}</h1>

<h2>Profile</h2>

<h3>Name</h3>
<p>girigiribauer</p>

<h3>SNS</h3>
<dl>
  <dt>Twitter</dt>
  <dd><a href="https://twitter.com/girigiribauer">https://twitter.com/girigiribauer</a></dd>
</dl>
<dl>
  <dt>Github</dt>
  <dd><a href="https://github.com/girigiribauer">https://github.com/girigiribauer</a></dd>
</dl>

<h2>Blog (written by Japanese)</h2>

<h3>Articles</h3>
{{ range first 3 .Paginator.Pages }}
{{ if eq .Type "archives" }}
<dl>
  <dt>{{ partial "datetime.html" . }}</dt>
  <dd><a href="{{ .Permalink }}">{{ .Title }}</a></dd>
</dl>
{{ end }}
{{ end }}

<p><a href="/archives/">More articles</a></p>

<h2>Products &amp; Services</h2>

<h3>go-pwgen</h3>
<ul>
  <li><a href="https://github.com/girigiribauer/go-pwgen">https://github.com/girigiribauer/go-pwgen</a></li>
  <li>cli password generator by Golang</li>
</ul>

<h3>db-cli</h3>
<ul>
  <li><a href="https://github.com/girigiribauer/db-cli">https://github.com/girigiribauer/db-cli</a></li>
  <li>`db` command line tools (Docker based) by Golang</li>
</ul>

</div>

{{ partial "footer.html" . }}
